:root {
  --background-theme: rgb(255, 255, 255);
  --background-color: rgb(255, 249, 249);
  --border-site:1px solid rgb(217 217 217);
} 

*{margin:0;padding:0;box-sizing:border-box;}
body{display:flex;flex-direction:column;align-content:center;background: var(--background-color);}

header, footer{height:4rem;background:var(--background-theme);border:var(--border-site);}
.middle-container{display:flex;flex-direction:row;justify-content:space-between;align-content:center;width:100%;}
aside, main{height:80vh;}
aside{width:20%;margin:20px;}
main{padding:2rem;width:80%;margin:20px 20px 20px 0px;border-radius:8px;border:var(--border-site);background: var(--background-theme);}




